  body{
    margin: 0;
    padding: 0;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
  --van-nav-bar-icon-color:#333333;
  --van-uploader-size:62px;
  --van-uploader-icon-size:26px;
  --theme-color:#ff1e42; 

  }